<%= form_with(model: marker, remote: true) do |form| %>
  <% if marker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marker.errors.count, "error") %> prohibited this marker from being saved:</h2>

      <ul>
      <% marker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :title, class:"form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :url, class:"form-label" %>
    <%= form.text_field :url, class: "form-control" %>
  </div>

<%# TODO add cocoon for categories%>
  <h3>Categories</h3>


   <div id="category_markers" class="form-group">
    <div class="links form-inline">
      <%= link_to_add_association 'add category', form, :category_markers %>
    </div>
  </div>





  <div class="actions">
    <%= form.submit'Create Marker', class: "mb-3 btn btn-success" %>
  </div>
<% end %>
