<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<div class=container>
  <div class="row">
    <div class="col-4">
      <%= button_to "Add Marker", @marker, remote: true, class: "btn btn-success" %>
      <div id="new_marker">
        <%= render '/markers/form', marker: @marker %>
        
      </div>

      <hr>

      <%= button_to "Add Category", @category, remote: true, class: "btn btn-success"%>
      <div id="new_category">

      </div>

      <hr>

      <%= button_to "Add Type", @type, remote: true, class: "btn btn-success"%>
      <div id="new_type">

</div>

    </div>
    <div class="col-8">
      <%= render 'table' %>
    </div>
  </div>
</div>

